.logo {
  height: 32px;
  margin: 16px;
}

.App {
  padding: 20px;
}

/* [data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
} */

.overflow {
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
}
